@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    color: var(--foreground);
    background: var(--background);
}

.logo {
    font-size: 32px;
    color: #ffffff;
}

.border-gradient {
    background: rgb(131, 58, 180);
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 18%,
        rgba(253, 29, 29, 1) 60%,
        rgba(252, 176, 69, 1) 100%
    );
}

.logoAi {
    background: rgb(131, 58, 180);
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 18%,
        rgba(253, 29, 29, 1) 60%,
        rgba(252, 176, 69, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navLink:hover {
    background: rgb(131, 58, 180);
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 18%,
        rgba(253, 29, 29, 1) 60%,
        rgba(252, 176, 69, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
